<?xml version="1.0" encoding="utf-8"?>
<packages>
          <package id="sauerbraten" />
          <package id="googlechrome" />
          <package id="cdrtfe" />
          <package id="firefox" />
          <package id="7zip" />
          <package id="notepadplusplus" />
          <package id="vlc" />
          <package id="dropbox" />
          <package id="anydesk.install" />
          <package id="teamviever" />
          <package id="irfanview" />
          <package id="irfanviewplugins" />
          <package id="doublecmd" />
          <package id="greenshot" />
          <package id="keepassxc" />
          <package id="adobereader" />
          <package id="sumatrapdf.install" />
          <package id="powertoys" />
          <package id="duplicati" />
          <package id="ln" />
          <package id="rainmeter" />
</packages>
