<?xml version="1.0" encoding="utf-8"?>
<packages>
          <package id="googlechrome" />
          <package id="firefox" />
          <package id="thunderbird" />
          <package id="7zip" />
          <package id="everything" />
          <package id="notepadplusplus" />
          <package id="vlc" />
          <package id="dropbox" />
          <package id="anydesk.install" />
          <package id="irfanview" />
          <package id="doublecmd" />
          <package id="greenshot" />
          <package id="keepassxc" />
          <package id="adobereader" />
          <package id="libreoffice-still" />
          <package id="sumatrapdf.install" />
          <package id="powertoys" />
          <package id="duplicati" />
          <package id="ln" />
          <package id="rainmeter" />
          <package id="microsoft-windows-terminal" />
          <package id="gsmartcontrol" />
</packages>
