<?xml version="1.0" encoding="utf-8"?>
<packages>
          <package id="firefox" />
          <package id="7zip" />
          <package id="everything" />
          <package id="notepadplusplus" />
          <package id="vlc" />
          <package id="doublecmd" />
          <package id="greenshot" />
          <package id="keepassxc" />
          <package id="sumatrapdf.install" />
          <package id="rainmeter" />
          <package id="anydesk.install" />
</packages>
